<div class="container py-3">
  <div class="card">
    <div class="card-header">
      {{ titulo }}
    </div>
    <div class="card-body">
      <form #idform="ngForm">
        <div class="form-group row">
          <label for="usuario" class="col-sm-2 col-form-label">Usuario <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="usuario.usuario" name="usuario" class="form-control" id="usuario" required
              #usuarios="ngModel">
            <div class="alert alert-danger " *ngIf="usuarios.invalid && (usuarios.dirty || usuarios.touched)">
              <div *ngIf="usuarios.errors.required">
                Usuario es requerido!
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="numeroDocumento" class="col-sm-2 col-form-label">Número documento <span
              class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="usuario.numeroDocumento" name="numeroDocumento" class="form-control"
              id="numeroDocumento" required #numeroDocumento="ngModel">
            <div class="alert alert-danger "
              *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched)">
              <div *ngIf="numeroDocumento.errors.required">
                Número documento es requerido!
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="perfil" class="col-sm-2 col-form-label">Perfil <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="usuario.perfil" name="perfil" class="form-control" id="perfil" required #perfil="ngModel">
            <div class="alert alert-danger " *ngIf="perfil.invalid && (perfil.dirty || perfil.touched)">
              <div *ngIf="perfil.errors.required">
                Perfil es requerido!
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="habilitado" class="col-sm-2 col-form-label">Habilitado <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="usuario.habilitado" name="habilitado" class="form-control" id="habilitado"
              required #habilitado="ngModel">
            <div class="alert alert-danger " *ngIf="habilitado.invalid && (habilitado.dirty || habilitado.touched)">
              <div *ngIf="habilitado.errors.required">
                Habilitado es requerido!
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="update()" [disabled]="!idform.form.valid">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
